

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->
</head>
<body>


  <nav class="navbar navbar-expand-md navbar-light my=2">
    <div class="container-fluid">
      <a href="#intro" class="navbar-brand">
        <span class="fw-bold text-danger mytitle">
          F1 Craze
        </span>
      </a>
      <!--Toggle button for smaller screens-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <ul class="navbar-nav px-5">
          <li class="nav-item">
            <a class="nav-link threelinks" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link threelinks" href="/drivers">Drivers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link threelinks" href="/championships">Championships</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Scripts before closing body tag -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>

</body>
</html>
   