

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>F1 Craze</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->
</head>
<body>

<div class="justify-content-center section1">
          <%- include('partials/navbar') %>

          <img class="smimg container-fluid sm-block md-block d-lg-none px-3 pt-4" src="http://wallpapercave.com/wp/wc1792285.jpg">
     
     <div class="container-fluid custom-bg">
          <div class="row justify-content-center">
               <div class="col-sm-10 col-lg-6">
                    <img class="img-fluid px-5 f1logo" src="https://1000marcas.net/wp-content/uploads/2020/01/logo-F1.png" alt="F1 Logo">
               </div>
          </div>
     
          <div class="row text-center justify-content-center">
               <div class="col-sm-10 col-md-8 col-lg-8">
                    <p class="mainpara">View stats of your favorite formula one drivers and more. Explore more on past championships and champions.</p>
               </div>
          </div>
     </div>
</div>


<div class="justify-content-center midsection">
     <div class="row text-center justify-content-center pt-5 my-5">
          <div class="col-sm-10 col-md-8 col-lg-6">
               <p class="bigmainpara display-5">VIEW STATS OF YOUR FAVORITE FORMULA 1  DRIVERS AND MORE. EXPLORE MORE ON PAST CHAMPIONSHIPS AND CHAMPIONS.</p>
          </div>
     </div>
</div>


<div class="section2 mt-5">
     <div class=" opac1 container-fluid py-3 m-0 bg-color-secondary">
          <div class="row text-center justify-content-center pt-5 my-5">
               <div class="col-sm-8 col-md-8 col-lg-6">
                   
               </div>
          </div>
     </div>
     <div class=" opac container-fluid py-3 m-0 bg-color-secondary">
          <div class="row text-center justify-content-center pt-5 my-5">
               <div class="col-sm-7 col-md-5 col-lg-5">
                    <p class="tracktext">Tracks, Cars ,Live Championship table and Many more features Coming Soon...</p>
               </div>
          </div>
     </div>
     <div class=" opac1 container-fluid py-3 m-0 bg-color-secondary">
          <div class="row text-center justify-content-center pt-5 my-5">
               <div class="col-sm-8 col-md-8 col-lg-6">
                    
               </div>
          </div>
     </div>
     <div class=" opac1 container-fluid py-3 m-0 bg-color-secondary">
          <div class="row text-center justify-content-center pt-5 my-5">
               <div class="col-sm-8 col-md-8 col-lg-6">
                   
               </div>
          </div>
     </div>
</div>

<div class=" row section4 container-fluid justify-content-center mx-0 px-0 align-items-center">
     <div class="row col-sm-12 justify-content-center align-items-center px-0 mx-0 py-1 my-1">
          <div class="col-sm-12 px-0 mx-0">
               <img class="container-fluid" src="https://wallpaperaccess.com/full/563863.jpg"
          </div>
     </div>
     <div class="row col-12 justify-content-center px-4 mx-0 my-3 py-2">
          <div class="col-sm-8 col-md-5">
               <p class="comsoo" >TRACKS, CARS, TEAMS AND MANY MORE FEATURES COMING SOON...</p>
          </div>
     </div>
</div>

</div>


<%- include('partials/footer') %>
     

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/scripts.js"></script>
</body>
</html>